.banner-pic-background{
  position: fixed;
  margin-top:-10px;
  top: 1;
  left: 0;
  width: 100%;
  overflow-y: hidden;
  background-color: black;
}

.banner-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 76%;
}

.header-name{
  font-size: 72px;
  color: #C70039;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-style:italic;
  font-variant: small-caps;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
