<div class="banner-pic-background">
  <img class="banner-pic" src="../../../lastsupper.jpg"/>
  <div [@headerState]="state"
    style="margin-top: -600px; width: 400px; height: 1000px;">

    <div class="header-main-background">
      <h1 class="header-custom main">
        Joe Poulin
      </h1>
    </div>

    <div class="header-sub-background">
      <h2 class="header-custom sub">
        IT Consultant
      </h2>
    </div>

    <div class="header-sub-background">
      <h2 class="header-custom sub">
        Full-Stack Developer
      </h2>
    </div>

    <div class="header-sub-background">
      <h2 class="header-custom sub">
        Front-End Developer
      </h2>
    </div>
  </div>
</div>
