<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="editExperience()">Edit</button>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <h1>{{ experience.company }}</h1>
  </div>
</div>

<div class="row detail">
  <div class="col-xs-12">
    <h3>{{ experience.city }}, {{ experience.state }}</h3>
  </div>
</div>

<div class="row detail">
  <div class="col-xs-2">
    <span class="detail-header">Role</span>
  </div>
  <div class="col-xs-10">
    {{ experience.role }}
  </div>
</div>

<div class="row detail">
  <div class="col-xs-2">
    <span class="detail-header">Dates</span>
  </div>
  <div class="col-xs-10">
    {{ experience.startDate }} - {{ experience.endDate }}
  </div>
</div>

<div class="row detail">
  <div class="col-xs-2">
    <span class="detail-header">App Source</span>
  </div>
  <div class="col-xs-10" *ngIf="experience.source != null">
    <a [href]="sourceSafeUrl">Go To Source</a>
  </div>
  <div class="col-xs-10" *ngIf="experience.source == null">
    Source code not available. {{experience.company}} owns the rights to the source code.
  </div>
</div>

<div class="row detail">
  <div class="col-xs-2">
    <span class="detail-header">Summary</span>
  </div>
  <div class="col-xs-10">
    {{ experience.summary }}
  </div>
</div>

<div class="row detail">
  <div class="col-xs-2">
    <span class="detail-header">Skills Utilized</span>
  </div>
  <div class="col-xs-10">
    <div class="col-xs-3 skill-module"
     *ngFor="let skill of experience.skills; let i = index">
      {{ skill.name }}
    </div>
  </div>
</div>

<!--<div class="row detail">
  <div class="col-xs-2">
    <span class="detail-header">Application in Action</span>
  </div>
  <div class="col-xs-10">
    <iframe width="560"
      height="315"
      src="https://www.youtube.com/embed/iJEJWAvg-gc"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen>
    </iframe>
  </div>
</div>-->
