.detail{
  margin-bottom:10px
}

.skill-module{
  background-color:gray;
  height:40px;
  margin:3px;
  color:white;
  padding:auto;
  border-radius:5px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.expert{
  background-color: #900C3F;
}

.moderate{
  background-color: #FF5733;
}

.beginner{
  background-color: #F0B700;
}
