<div class="row">
  <div class="col-xs-12">
    <h1>{{ experience.company }}</h1>
  </div>
</div>

<div class="row detail">
  <div class="col-xs-12">
    <h3>{{ experience.city }}, {{ experience.state }}</h3>
  </div>
</div>

<div class="row detail">
  <div class="col-xs-2">
    Role
  </div>
  <div class="col-xs-10">
    {{ experience.role }}
  </div>
</div>

<div class="row detail">
  <div class="col-xs-2">
    Dates
  </div>
  <div class="col-xs-10">
    {{ experience.startDate }} - {{ experience.endDate }}
  </div>
</div>

<div class="row detail">
  <div class="col-xs-2">
    Summary
  </div>
  <div class="col-xs-10">
    {{ experience.summary }}
  </div>
</div>

<div class="row detail">
  <div class="col-xs-2">
    Skills Utilized
  </div>
</div>

<div class="row detail">
  <div class="col-xs-4">
    <div class="row">
      <div class="col-xs-8 col-md-offset-2 skill-module expert skill-header">
        Heavy
      </div>
    </div>
    <div class="col-xs-6 skill-module expert"
     *ngFor="let skill of experience.ExpertSkills; let i = index">
      {{ skill.name }}
    </div>
  </div>
  <div class="col-xs-4">
    <div class="row">
      <div class="col-xs-8 col-md-offset-2 skill-module moderate skill-header">
        Moderate
      </div>
    </div>
    <div class="col-xs-6 skill-module moderate"
     *ngFor="let skill of experience.ModerateSkills; let i = index">
      {{ skill.name }}
    </div>
  </div>
  <div class="col-xs-4">
    <div class="row">
      <div class="col-xs-8 col-md-offset-2 skill-module beginner skill-header">
        Light
      </div>
    </div>
    <div class="col-xs-6 skill-module beginner"
     *ngFor="let skill of experience.BeginnerSkills; let i = index">
      {{ skill.name }}
    </div>
  </div>
</div>
