<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand"><i class="fa fa-home"></i>&nbsp;Home</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/experience/0"><i class="fa fa-laptop"></i>&nbsp;Experience</a></li>
        <!--<li routerLinkActive="active"><a routerLink="/education">Education</a></li>
        <li routerLinkActive="active"><a routerLink="/examples">Examples</a></li>-->
        <li routerLinkActive="active"><a href="https://github.com/powlynn" target="_blank"><i class="fa fa-github"></i>&nbsp;Github</a></li>
        <li routerLinkActive="active"><a href="https://www.linkedin.com/in/josephpoulin/" target="_blank"><i class="fa fa-linkedin"></i>&nbsp;LinkedIn</a></li>
        <li routerLinkActive="active"><a href="../../../GeneralResume.pdf" target="_blank"><i class="fa fa-clipboard"></i>&nbsp;Resume</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!isAuthenticated()">
          <li><a routerLink="/signup">Register</a></li>
          <li><a routerLink="/signin">Login</a></li>
        </ng-template>

        <li><a
          style="cursor: pointer;"
          (click)="onLogout()"
          *ngIf="isAuthenticated()">Logout</a></li>

        <li class="dropdown" appDropdown *ngIf="isAuthenticated()">
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
